<p>Mẫu CT04&nbsp;ban h&agrave;nh k&egrave;m theo Th&ocirc;ng tư số 66/2023/TT-BCA</p>
<p>&nbsp;ng&agrave;y 17/11/2023 của Bộ trưởng Bộ C&ocirc;ng an</p>
<table>
<tbody>
<tr>
<td width="212">
<p>...................................(1)</p>
<p>...................................(2)</p>
<p>Số: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/PTN</p>
</td>
<td width="555">
<p><strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C&Ocirc;̣NG HÒA XÃ H&Ocirc;̣I CHỦ NGHĨA VI&Ecirc;̣T NAM</strong></strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Độc lập &ndash; Tự do &ndash; Hạnh ph&uacute;c</strong></p>
</td>
</tr>
</tbody>
</table>
<p><strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PHIẾU TIẾP NHẬN HỒ SƠ V&Agrave; HẸN TRẢ KẾT QUẢ</strong></strong></p>
<p>M&atilde; hồ sơ:......................</p>
<p>C&ocirc;ng an<sup>(2)</sup>:</p>
<p>đ&atilde; tiếp nhận hồ sơ của &Ocirc;ng/B&agrave;:</p>
<table>
<tbody>
<tr>
<td width="327">
<p>Số định danh c&aacute; nh&acirc;n/CMND:</p>
</td>
<td width="34">
<p>&nbsp;</p>
</td>
<td width="34">
<p>&nbsp;</p>
</td>
<td width="34">
<p>&nbsp;</p>
</td>
<td width="34">
<p>&nbsp;</p>
</td>
<td width="34">
<p>&nbsp;</p>
</td>
<td width="34">
<p>&nbsp;</p>
</td>
<td width="34">
<p>&nbsp;</p>
</td>
<td width="34">
<p>&nbsp;</p>
</td>
<td width="34">
<p>&nbsp;</p>
</td>
<td width="34">
<p>&nbsp;</p>
</td>
<td width="34">
<p>&nbsp;</p>
</td>
<td width="34">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>Nơi thường tr&uacute;:&nbsp;</p>
<p>Nơi tạm tr&uacute;:&nbsp;</p>
<p>Nơi ở hiện tại:&nbsp;</p>
<p>Số điện thoại: &nbsp;Email:</p>
<p>Nội dung y&ecirc;u cầu giải quyết:&nbsp;</p>
<p>Th&agrave;nh phần hồ sơ nộp gồm:</p>
<table>
<tbody>
<tr>
<td width="5.6600%">
<p><strong>TT</strong></p>
</td>
<td width="52.1800%">
<p><strong>T&ecirc;n giấy tờ</strong></p>
</td>
<td width="23.9000%">
<p><strong>H&igrave;nh thức </strong></p>
<p><em>(bản ch&iacute;nh, bản sao hoặc bản chụp)</em></p>
</td>
<td width="18.2600%">
<p><strong>Ghi ch&uacute;</strong></p>
</td>
</tr>
<tr>
<td width="5.6600%">
<p>&nbsp;</p>
</td>
<td width="52.1800%">
<p>&nbsp;</p>
</td>
<td width="23.9000%">
<p>&nbsp;</p>
</td>
<td width="18.2600%">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="5.6600%">
<p>&nbsp;</p>
</td>
<td width="52.1800%">
<p>&nbsp;</p>
</td>
<td width="23.9000%">
<p>&nbsp;</p>
</td>
<td width="18.2600%">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="5.6600%">
<p>&nbsp;</p>
</td>
<td width="52.1800%">
<p>&nbsp;</p>
</td>
<td width="23.9000%">
<p>&nbsp;</p>
</td>
<td width="18.2600%">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="5.6600%">
<p>&nbsp;</p>
</td>
<td width="52.1800%">
<p>&nbsp;</p>
</td>
<td width="23.9000%">
<p>&nbsp;</p>
</td>
<td width="18.2600%">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="5.6600%">
<p>&nbsp;</p>
</td>
<td width="52.1800%">
<p>&nbsp;</p>
</td>
<td width="23.9000%">
<p>&nbsp;</p>
</td>
<td width="18.2600%">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="5.6600%">
<p>&nbsp;</p>
</td>
<td width="52.1800%">
<p>&nbsp;</p>
</td>
<td width="23.9000%">
<p>&nbsp;</p>
</td>
<td width="18.2600%">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>Thời gian nhận hồ sơ: ............giờ............ph&uacute;t, ng&agrave;y................./.............../.............................</p>
<p>Thời gian trả kết quả giải quyết hồ sơ: ............giờ............ph&uacute;t, ng&agrave;y......../........../............</p>
<p>H&igrave;nh thức nhận kết quả: Bản giấy o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bản điện tử o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tin nhắn SMS o</p>
<p><em>(C&ocirc;ng d&acirc;n nhận kết quả bản điện tử qua email, th&ocirc;ng b&aacute;o tr&ecirc;n ứng dụng VNeID v&agrave; cổng dịch vụ c&ocirc;ng; th&ocirc;ng b&aacute;o qua tin nhắn SMS tới số điện thoại đ&atilde; khai b&aacute;o)</em></p>
<p>Đăng k&yacute; nhận kết quả Bản giấy tại:</p>
<table>
<tbody>
<tr>
<td width="48.4800%">
<p>&nbsp;</p>
</td>
<td width="51.5200%">
<p>...........,&nbsp;ngày............tháng...........năm...........</p>
<p><strong>CÁN BỘ TIẾP NHẬN</strong><strong><sup>(3)</sup></strong><strong>&nbsp;</strong></p>
<p><em><em>&nbsp;</em></em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Ch&uacute; th&iacute;ch: </strong></p>
<p>(1) Cơ&nbsp;quan cấp tr&ecirc;n của cơ&nbsp;quan đăng k&yacute; cư&nbsp;tr&uacute;.</p>
<p>(2) Cơ&nbsp;quan đăng k&yacute; cư&nbsp;tr&uacute;.</p>
<p>(3) C&aacute;n bộ tiếp nhận c&oacute; thể k&yacute; ghi r&otilde; họ t&ecirc;n hoặc k&yacute; số hoặc x&aacute;c nhận bằng h&igrave;nh thức x&aacute;c thực kh&aacute;c.</p>
<p>&nbsp;</p>