<p>Mẫu CT05&nbsp;ban h&agrave;nh k&egrave;m theo Th&ocirc;ng tư số 66/2023/TT-BCA</p>
<p>&nbsp;ng&agrave;y 17/11/2023 của Bộ trưởng Bộ C&ocirc;ng an</p>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td width="223">
<p>....................................(1)</p>
<p>....................................(2)</p>
</td>
<td width="567">
<p><strong><strong>C&Ocirc;̣NG HÒA XÃ H&Ocirc;̣I CHỦ NGHĨA VI&Ecirc;̣T NAM</strong></strong></p>
<p><strong>Độc lập &ndash; Tự do &ndash; Hạnh ph&uacute;c</strong></p>
</td>
</tr>
</tbody>
</table>
<p><strong><strong>PHIẾU H</strong></strong><strong><strong>Ư</strong></strong><strong><strong>ỚNG DẪN BỔ SUNG, HO&Agrave;N THIỆN HỒ S</strong></strong><strong><strong>Ơ</strong></strong><strong><strong>&nbsp;</strong></strong></p>
<p>M&atilde; hồ sơ:</p>
<p>Của &Ocirc;ng/B&agrave;:</p>
<table>
<tbody>
<tr>
<td width="316">
<p>Số định danh c&aacute; nh&acirc;n/CMND:</p>
</td>
<td width="30">
<p>&nbsp;</p>
</td>
<td width="30">
<p>&nbsp;</p>
</td>
<td width="30">
<p>&nbsp;</p>
</td>
<td width="30">
<p>&nbsp;</p>
</td>
<td width="30">
<p>&nbsp;</p>
</td>
<td width="30">
<p>&nbsp;</p>
</td>
<td width="30">
<p>&nbsp;</p>
</td>
<td width="30">
<p>&nbsp;</p>
</td>
<td width="30">
<p>&nbsp;</p>
</td>
<td width="30">
<p>&nbsp;</p>
</td>
<td width="30">
<p>&nbsp;</p>
</td>
<td width="30">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>Căn cứ quy định của Luật Cư&nbsp;tr&uacute; v&agrave; c&aacute;c văn bản quy định chi tiết, hướng dẫn thi h&agrave;nh c&oacute; li&ecirc;n quan, đề nghị &Ocirc;ng/B&agrave; ho&agrave;n thiện hồ sơ như sau<sup>(3)</sup>:</p>
<p>L&yacute; do:</p>
<p>Trong qu&aacute; tr&igrave;nh ho&agrave;n thiện hồ sơ nếu c&oacute; vấn đề vướng mắc, &Ocirc;ng/B&agrave; li&ecirc;n hệ với C&ocirc;ng an ; Số ĐT............................... để được hướng dẫn./.</p>
<table>
<tbody>
<tr>
<td width="48.4800%">
<p>&nbsp;</p>
</td>
<td width="51.5200%">
<p>......<em>., ng&agrave;y</em>...<em>.</em>...<em>. th&aacute;ng.</em>......<em>&nbsp;năm</em>.........<em>.</em></p>
<p><strong>C&Aacute;N BỘ TIẾP NHẬN</strong><strong><sup>(4)</sup></strong></p>
<p><em><em>&nbsp;</em></em></p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p><strong>Ch&uacute; th&iacute;ch: </strong></p>
<p>(1) Cơ&nbsp;quan cấp tr&ecirc;n của cơ&nbsp;quan đăng k&yacute; cư&nbsp;tr&uacute;</p>
<p>(2) Cơ&nbsp;quan đăng k&yacute; cư&nbsp;tr&uacute;</p>
<p>(3) Ghi hướng dẫn đầy đủ, cụ thể một lần về việc k&ecirc; khai, bổ sung, chỉnh l&yacute; th&agrave;nh phần hồ sơ; v&iacute; dụ: Bổ sung giấy tờ, t&agrave;i liệu chứng minh chỗ ở hợp ph&aacute;p (Hợp đồng thu&ecirc; nh&agrave;....); bổ sung giấy tờ, chứng minh quan hệ nh&acirc;n th&acirc;n (giấy khai sinh...); K&ecirc; khai lại Mục g&igrave; trong biểu mẫu, k&ecirc; khai như thế n&agrave;o...</p>
<p>(4) C&aacute;n bộ tiếp nhận k&yacute; ghi r&otilde; họ t&ecirc;n hoặc k&yacute; số hoặc x&aacute;c nhận bằng h&igrave;nh thức x&aacute;c thực kh&aacute;c.</p>
<p>&nbsp;</p>